body {
    margin:0;
    height: 100vh;
    background-color: #eee;
    font-family: cursive;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
}

.wrapper {
    margin: 2rem auto;
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
}

.wrapper > * {
    background-color: rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
}

.container p {
    font-family: cursive;
}

.topnav {
    margin-bottom: 13rem;
}

.topnav img {
    height: 50%;
    margin: auto 16rem auto 2rem;
}
.topnav a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
    color: #666;
    margin: 1rem;

}

.topnav a:hover {
    border-bottom: 3px solid black;
}

header {
    grid-column: auto / span 6;
    height: 16rem;
}

header{
    background-image: url("https://images.unsplash.com/photo-1573126617899-41f1dffb196c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1vdW50YWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    grid-column: auto / span 6;
    height: 28rem;
}

article {
    grid-column: auto / span 6;
    height: 24rem;
}

footer {
    grid-column: auto / span 6;
    height: 16rem;
}