body {
    height: 100vh;
    margin:0;
    display: grid;
    grid-template-rows: 640px auto auto 240px 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "top" "content" "contact" "footer";
    gap:0;
    background-color: #eee;
    font-family: cursive;
    font-size: 1.4rem;
    color: #FFF;
}


.top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://lexicon-frontend-course-2021-2022.github.io/mockup-example/images/top-background.png");
}

.top nav {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top nav img {
    height: 50%;
    margin: auto 16rem auto 2rem;
}
.top nav a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
    color: #FFF;
    margin: 1rem;

}

.top nav a:hover {
    border-bottom: 3px solid white;
}

.top header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    margin: 0;
    margin-bottom: 15rem;
}

main {
    color: #666;
    text-align: center;
}

.content {
    grid-area: content;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.content h1 {
    color: #666;
    padding: 1rem;
}

.content .the-team {
    display: grid;
    width: 50%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.content .the-team article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:0;
}

.content .the-team article img {
    width: 90%;
    height: 50%;
    border-radius: 999rem;
    margin:0;
}

.content .the-team article p {
    margin:0;
    font-size: 1rem;
    text-align: center;
    width: 80%;
    color: #666;
}

.content .spinner {
    display: grid;
    width: 50%;
    grid-template-columns: auto 50px;
    padding-bottom: 2rem;
}

.content .spinner .dogimages{
    justify-content: space-between;
}

.content .spinner .dogimages img {
    width: 22%;
}
footer {
    color: #666;
    height: 16rem;
}