body {
    height: 100vh;
    margin:0;
    display: grid;
    grid-template-rows: 640px auto auto 240px 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "top" "content" "contact" "footer";
    gap:0;
    background-color: #eee;
    font-family: cursive;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
}


.top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1573126617899-41f1dffb196c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1vdW50YWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top nav {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top nav img {
    height: 50%;
    margin: auto 16rem auto 2rem;
}
.top nav a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
    color: #666;
    margin: 1rem;

}

.top nav a:hover {
    border-bottom: 3px solid black;
}

.top header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    margin: 0;
    margin-bottom: 15rem;
}

main {
    text-align: center;
}

.content {
    grid-area: content;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.content h1 {
    padding: 2rem;
}

.content .the-team {
    display: grid;
    width: 50%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.content .the-team article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:0;
}

.content .the-team article img {
    width: 90%;
    height: 50%;
    border-radius: 999rem;
    margin:0;
}

footer {
    height: 16rem;
}